<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">

    <% @artist.photos.each do |photo| %>
      <%= image_tag photo.image.thumbnail %>
    <% end %>

    <br/>
    <br/>

    <!-- About -->
    <p><b><%= @artist.is_band == true ? "Founded in" : "Date of birth" %></b>: <%= @artist.birth_date %></p>
    <p><b>Origin</b>: <%= @artist.origin %></p>
    <p><b>Genre</b>: <%= @artist.genre %></p>

    <br/>

    <p><%= @artist.description %></p>

    <!--  Songs -->
    <p>
      <b>Songs you should listen to:</b>
      <ul>
      <% @songs.each do |song| %>
        <li><%= song.name %> (<%= song.year %>), from the album <i><%= song.album %></i></li>
      <% end %>
      </ul>

      <br/>

      <div class="panel panel-primary">
        <div class="panel-body">
          <%= link_to "Add your favorite song from this artist", new_artist_song_path(@artist.id) %>
        </div>
      </div>

    </p>

  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
