<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">

    <p><%= @artist.is_band == true ? "Founded in" : "Date of birth" %>: <%= @artist.birth_date %></p>
    <p>Origin: <%= @artist.origin %></p>
    <p>Genre: <%= @artist.genre %></p>


    <!-- About -->
    <br/>
    <br/>
    <p><%= @artist.description %></p>


  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
