<div class="panel panel-primary">
  <div class="panel-heading"><%= @artist.name %></div>

  <div class="panel-body">

    <% @artist.photos.each do |photo| %>
      <%= image_tag photo.image %>
    <% end %>

    <br/>
    <br/>

    <p><b><%= @artist.is_band == true ? "Founded in" : "Date of birth" %></b>: <%= @artist.birth_date %></p>
    <p><b>Origin</b>: <%= @artist.origin %></p>
    <p><b>Genre</b>: <%= @artist.genre %></p>

    <!-- About -->
    <br/>
    <p><%= @artist.description %></p>


  </div>

</div>

<%= link_to "Back", artists_path, class: "btn btn-default" %>
